body,
html,
#root {
  height: 100%;
}

:root {
  --gradient: linear-gradient(45deg, #71c66c, #ff8000, #db5779, #71c66c, #ff8000);
  --text-color: linear-gradient(45deg, #cf5c5c,#c19b4a,#def2a0,#c6ee4a,#42eca6,#64b3d9,#208ea2,#498ada,#5b73df,#897ed3,#cf5c5c,#c19b4a);
}
body {
  animation: animateBg 14s infinite alternate;
  background-image: var(--gradient);
  background-size: 400%;
  background-attachment: fixed; /* this keeps the gradient fixed so no repeats */ 
}

html {
  font-size: 18px;
}

h1 {
  padding: 0.77rem 0;
  background-color: transparent;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.88rem;
  color: #fff;
}

h1 .highlight {
  font-size: 4rem;
  background-image: var(--gradient);
  background-size: 800%;
  background-clip: text;
  color: transparent;
  animation: animateBg 9s infinite alternate-reverse;
  text-shadow: 1px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;

  /*background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #fff;
}

@keyframes animateBg {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
    flex-direction: row;
  }
}
